/* Add CSS Styling */
.Yellow {
    background-color: yellow;
}

.Black {
    background-color: black;
    color: white;
}

.Yellow,
.Black {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman' , sans-serif;
}
